@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 1025) and (min-width: 1281px) {
  :root {
    font-size: 18px;
  }
}
